<style>
body * {
  box-sizing: border-box;
}
body {
  background: #000;
}
#header {
  margin: 20px auto;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  min-height: 200px;
  max-width: 800px;
  background: #fff;
}
#label {
  font-size: 20px;
  font-family: Arial;
}
#header img.logo {
  width: 120px;
  border-radius: 5px;
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
}
  border: 1px solid #888;
  border-radius: 3px;
  height: 50px;
  font-size: 20px;
  width: 350px;
}
table#session {
  border-collapse: collapse;
}
table#session td:first-child {
  text-align: right;
  padding-right: 10px;
}
table#session td:last-child {
  text-align: left;
}
table#session button {
  height: 50px;
  font-size: 30px;
  background: #eee;
  border: 1px solid #888;
  border-radius: 3px;
  margin: 0;
  vertical-align: middle;
  cursor: pointer;
  width: 355px;  
}
input[type='text'] {
  border: 1px solid #888;
  border-radius: 3px;
  height: 50px;
  font-size: 20px;
  width: 350px;
}
table#session {
  border-collapse: collapse;
  margin-top: 30px;
}
table#session td:first-child {
  text-align: right;
  padding-right: 10px;
}
table#session td:last-child {
  text-align: left;
}
table#session button {
  height: 50px;
  font-size: 30px;
  background: #eee;
  border: 1px solid #888;
  border-radius: 3px;
  margin: 0;
  vertical-align: middle;
  cursor: pointer;
  width: 355px;  
}
p.helper {
  font-size: 18px;
  line-height: 24px;
  font-family: Arial;
}
</style>
<div id='header'>
  <img class='logo' src="/logo-<%= @session.year %>.png" onerror="this.src='/logo.png';"/>
  AAC in the Cloud Presentation Session
  <div style='margin-bottom: 10px;'>
    <a href='/conferences/<%= @session.conference_code %>?no_blank=1'>Back to the Session List</a>
  </div>
  <div id='label'><a href="<%= @session.video_link %>"><%= @session.resources['session_name'] %></a></div>
  <% 
    date = @session.resources['date']
    time = Time.parse(date) rescue nil
    date = Conference.date_string(time) if time
  %>
  <div id='time'><%= date %></div>
  <div style='clear: left;'></div>
  <% if params['simple'] %>
    <p class='helper'>
      Thanks for being willing to help moderate sessions for
      the conference! About fifteen minutes before this session
      is supposed to start (check time zones!) go to 
      <a href="https://www.youtube.com/my_live_events?filter=scheduled" target="_blank">the conference's YouTube listings</a>
      and find the event matching this session (you may need to switch profiles
      using the picture in the top right corner). Click "Start Hangout on Air".
      Inside the Hangout, click the "Add People" icon and copy the Hangouts
      link. Paste it below and click update to share it with the
      presenter automagically.
    </p>
  <% end %>
  <table id='session'>
    <tbody>
      <tr>
        <td></td>
        <td style='padding-bottom: 5px;'>
          <a href="/links/<%= @session.code %>:<%= @session.token[0, 5] %>">Presenter Waiting Room</a>
          | 
          <a href="/surveys/<%= @session.code %>">Attendee Survey Form</a>
        </td>
      </tr>
      <% unless params['simple'] %>
        <tr>
          <td>Name:</td>
          <td><input type='text' id='name'/></td>
        </tr><tr>
          <td>Time:</td>
          <td><input type='text' id='date'/></td>
        </tr><tr>
          <td>Description:</td>
          <td><input type='text' id='description'/></td>
        </tr><tr>
          <td>Credit Hours:</td>
          <td><input type='text' id='hours' placeholder='1 hour by default'/></td>
        </tr><tr>
          <td>Track:</td>
          <td><input type='text' id='track' placeholder='1'/></td>
        </tr><tr>
          <td>Disabled:</td>
          <td style='padding: 15px 0;'>
            <label>
              <input type="checkbox" id="disabled" />
              This session has been canceled/disabled
            </label>
          </td>
        </tr><tr>
          <td>YouTube Link:</td>
          <td><input type='text' id='url'/></td>
        </tr><tr>
          <td>Slides Link:</td>
          <td><input type='text' id='slides'/></td>
        </tr><tr>
          <td>Live Attendees:</td>
          <td><input type='text' id='attendees' placehoder='Setting opens survey for live sessions'/></td>
        </tr>
      <% end %>
      <tr>
        <td>Hangouts Link:</td>
        <td><input type='text' id='hangout'/></td>
      </tr>
      <tr>
        <td></td>
        <td><button id='update_session'>Update Session</button></td>
      </tr>
    </tbody>
  </table>
  <% if params['simple'] %>
    <p class='helper'>
      Once they're in, make sure they feel comfortable, and give them
      a heads-up before you click "Start Broadcast" and go live. Once
      you're live, do a quick intro and let them take it away (you can
      mute your audio and video feeds so you don't have to sit there
      smiling blankly the whole time).
    </p>
    <p class='helper'>
        Be sure to keep an eye on the Slack channel for this session 
        as well, just to make sure there aren't any technical issues
        or nobody can actually hear or see the feed. If you run into
        any problems, just message @brian, @melissa_d or @scot on
        Slack and we'll help figure it out!
    </p>
  <% end %>
  <% if @authenticated %>
    <div style='margin-top: 30px; text-align: right;'>
      <% unless params['simple'] %>
        <a href="?simple=1">Simplified Session Management</a> | 
      <% end %>
      <% id = Base64.urlsafe_encode64(Base64.urlsafe_encode64(@session.code)) %>
      <a href="/surveys/results/<%= id %>/<%= Digest::MD5.hexdigest(Conference.user_token(id))[0, 10] %>">Presenter Survey Results</a>
    </div>
  <% end %>
</div>
<script>
var resources = <%= @session.resources.to_json.html_safe %>;
var link_disabled = <%= (JSON.parse(@session.data)['link_disabled'] || false).to_s %>;
if(document.getElementById('name')) {
  document.getElementById('name').value = resources.session_name || '';
  document.getElementById('date').value = resources.date || '';
  document.getElementById('description').value = resources.description || '';
  document.getElementById('hours').value = resources.hours || '';
  document.getElementById('track').value = resources.track || '';
  document.getElementById('disabled').checked = link_disabled || false;
  document.getElementById('url').value = resources.youtube_link || '';
  document.getElementById('slides').value = resources.slides_link || '';
  document.getElementById('attendees').value = resources.live_attendees || '';
}
document.getElementById('hangout').value = resources.hangouts_link || '';
document.getElementById('update_session').addEventListener('click', function(event) {
  event.preventDefault();

  var opts = {
    code: "<%= @session.code %>",
    conference_code: "<%= @session.conference_code %>",
    token: "<%= @token %>",
    hangout: document.getElementById('hangout').value,
    authenticity_token: "<%= form_authenticity_token %>"
  };
  if(document.getElementById('name')) {
    opts.name = document.getElementById('name').value;
    opts.time = document.getElementById('date').value;
    opts.description = document.getElementById('description').value;
    opts.hours = parseFloat(document.getElementById('hours').value);
    opts.track = document.getElementById('track').value;
    opts.url = document.getElementById('url').value;
    opts.slides = document.getElementById('slides').value;
    opts.live_attendees = document.getElementById('attendees').value;
    opts.link_disabled = document.getElementById('disabled').checked;
  }

  var xhr = new XMLHttpRequest();
  xhr.onreadystatechange = function() {
    if(this.readyState == 4 && this.status == 200) {
      res = JSON.parse(this.responseText);
      location.reload();
    } else if(this.readyState == 4) {
      alert('Session Failed to Submit');
    }
  };
  var path = "/conferences/sessions";
  xhr.open('POST', path, true);
  xhr.setRequestHeader("Content-Type", "application/json");
  xhr.send(JSON.stringify(opts));
});
</script>