<style>
#content {
  max-width: 850px;
  margin: 30px auto;
}
h1 {
  text-align: center;
  margin-bottom: 5px;
  font-family: Arial;
}

input[type='text'] {
  border: 1px solid #888;
  border-radius: 3px;
  height: 50px;
  font-size: 20px;
  width: 350px;
}

</style>
<div id='content'>
  <h1>Sessions Matching "<%= params['q'] %>"</h1>
  <% if @sessions.count == 0 %>
    <p>No results found</p>
  <% else %>
    <% @sessions.each do |session| %>
      <div style='margin-bottom: 10px;'>
        <% conf = @conferences[session.conference_code] %>
        <a href="<%= session.video_link %>">
          <img style='float: left; height: 100px; width: 100px; object-fit: contain; object-position: center; padding-bottom: 5px; padding-right: 10px; border-radius: 5px;' src='/logo-<%= conf[:year] %>.png' onerror="this.src='/logo.png';"/>
          <%= session.resources['session_name'] %>
        </a>
        <div style='white-space: nowrap; color: #888; overflow: hidden;'>
          <%= conf[:name] %><br/>
          <% if !conf[:closed] %>
            <em><b>
              <% if session.resources['timestamp'].match(/pre/) %>
                Pre-Conference Workshop<% if conf[:pre_note] %> - <%= conf[:pre_note] %><% end %>
              <% else %>
                <% time = Time.parse(session.resources['timestamp']) %>
                <%= time.strftime('%B %e, %Y') %><%= time.min == 0 ? time.strftime('%l %P ET') : time.strftime('%l:%M %P ET') %>
              <% end %>
            </b></em>
          <% end %>
        </div>
        <div style='white-space: nowrap; color: #888; overflow: hidden;'><%= session.resources['description'] %></div>
        <div style='clear: left;'></div>
      </div>
    <% end %>
  <% end %>
</div>
