<style>
#content {
  max-width: 850px;
  margin: 30px auto;
}
h1 {
  text-align: center;
  margin-bottom: 5px;
  font-family: Arial;
}
table#conference {
  border-collapse: collapse;
  width: 100%;
}
table#conference td {
  border: 1px solid #ccc;
  text-align: center;
  padding: 5px 10px;
}
table#conference tr.tracks td {
  background: #eee;
  font-weight: bold;
  color: #004;
  font-family: Arial;
}
table#conference tbody tr.day { 
  background: #ffc;
}
table#conference tbody td.day {
  font-size: 20px;
  color: rgb(11, 83, 148);
  font-weight: bold;
  padding: 15px 20px;
}
table#conference tbody td.column {
  font-size: 14px;
}
table#conference tbody td.stats_column {
  position: relative;
}
table#conference tbody td.stats_column .stats {
  position: absolute;
  display: none;
  bottom: 0;
  right: 0;
  color: #888;
  background: #fcfcfc;
  border-top-left-radius: 5px;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  padding: 5px;
  box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.5);
}
table#conference tbody td.stats_column .stats .live {
  margin-right: 2px;
  padding-right: 5px;
  border-right: 1px solid #ddd;
}

table#conference tbody td.column_0 a {
  color: rgb(17, 85, 204);
  text-decoration: none;
}
table#conference tbody td.column_1 a {
  color: rgb(56, 118, 29);
  text-decoration: none;
}
table#conference tbody td.column_2 a {
  color: rgb(53, 28, 117);
  text-decoration: none;
}
table#conference tbody td.column.special {
  padding: 15px 20px;
  font-size: 20px;
  font-family: Arial;
  color: #666;
}
table#conference tbody td.column.special a {
  color: rgb(152, 0, 0);
  text-decoration: none;
}
table#conference tbody td.column.special a.slack {
  color: #0b5394;
}
table#conference tbody td a.slack {
  color: #rgb(80, 80, 0);
}
input[type='text'] {
  border: 1px solid #888;
  border-radius: 3px;
  height: 50px;
  font-size: 20px;
  width: 350px;
}
table#session {
  border-collapse: collapse;
}
table#session td:first-child {
  text-align: right;
  padding-right: 10px;
}
table#session td:last-child {
  text-align: left;
}
table#session button {
  height: 50px;
  font-size: 30px;
  background: #eee;
  border: 1px solid #888;
  border-radius: 3px;
  margin: 0;
  vertical-align: middle;
  cursor: pointer;
  width: 355px;  
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltip_text {
  visibility: hidden;
  position: absolute; 
  width: 300px;
  bottom: 100%;
  left: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  text-align: left;
  padding: 10px;
  z-index: 2;
  box-shadow: 1px 1px 2px #888;
  color: #000;
  font-size: 14px;
}
.tooltip .tooltip_text.left {
  left: auto;
  right: 50px;
}
.tooltip:hover .tooltip_text {
  visibility: visible;
}
.tooltip .tooltip_text:hover {
  visibility: hidden;
}
form.search input[type='text'] {
  border: 1px solid #aaa;
  vertical-align: top;
  border-radius: 3px;
  height: 30px;
  font-size: 17px;
  width: 150px;
  padding-left: 10px;
}
form.search button {
  border: 1px solid #aaa;
  vertical-align: top;
  border-radius: 3px;
  height: 34px;
  font-size: 17px;
  color: #aaa;
}

</style>
<div id='content'>
  <h1><%= @conference[:name] %></h1>
  <div style='text-align: center; color: #888;'>
    <b>Looking for CEUs?</b> When you watch the sessions in our conference
    player you'll see a link at the end to fill out participation surveys
    that will be used to <a href="/surveys/certificate" target="_blank">generate a certificate</a> 
    you can report for credits.
  </div>
  <img style='float: left; max-height: 100px; max-width: 150px; padding-bottom: 5px; border-radius: 5px;' src='/logo-<%= @conference[:year] %>.png' onerror="this.src='/logo.png';"/>
  <img style='float: right; max-height: 100px; max-width: 150px; padding-bottom: 5px; padding-left: 5px;' src='/sponsored.png' />
  <form class='search' action='/search' method='GET' style='text-align: right; margin-top: 10px;'>
    <% if params['no_blank'] == '1' %>
      <input type='hidden' name='no_blank' value='1'/>
    <% end %>
    <input type='text' name='q' value='<%= params['q'] %>' placeholder="search"/>
    <button type='submit'>Go</button>
  </form>

  <div style='clear: left;'></div>
  <table id='conference'>
    <tbody>
        <% day_number = 0 %>
        <% @conference[:days].each_with_index do |day, idx| %>
          <% day_number += 1 unless day[:day_id] == '_pre' %>
          <tr class='day'>
            <td></td>
            <td class='day' colspan="<%= @conference[:tracks].length %>">
            <% if day[:day_id] == '_pre' %>
              <%= day[:name] %><% if day[:pre_note] %> - <%= day[:pre_note] %><% end %>
            <% else %>
              Day <%= day_number %> - <%= day[:name] %>
            <% end %>
            </td>
          </tr>
          <tr class='tracks'>
            <td>Time</td>
            <% @conference[:tracks].each do |track| %>
              <td><%= track %></td>
            <% end %>
          </tr>
            <% day[:time_slots].each do |slot| %>
            <tr>
              <td style='white-space: nowrap;'><%= slot[:name] %></td>
              <% slot[:tracks].each_with_index do |track, idx| %>
                <td class='<%= slot[:special] ? 'column stats_column special' : "column stats_column column_#{idx}" %>' colspan='<%= slot[:special] ? @conference[:tracks].length : 1 %>' id='col_<%= track[:code] %>' rel='<%= track[:code] %>'>
                  <span class='tooltip'>
                    <% if !track[:description].blank? %>
                      <div class='tooltip_text <%= idx >= slot[:tracks].length - 1 ? 'left' : '' %>'><%= track[:description] %></div>
                    <% end %>
                    <% if track[:link] %>
                      <a href="<%= track[:link] %>" class='blanky'>
                        <%= track[:name] %>
                      </a>
                    <% else %>
                      <%= track[:name] %>
                      <% if @authenticated && track[:manage] %>
                        (<a href="<%= track[:manage] %>">manage</a>)
                      <% end %>
                    <% end %>
                    <% if track[:slack] %>
                      <a class='slack' href="/chat">
                        <%= track[:slack] %>
                      </a>
                    <% end %>
                  </span>
                  <div class='stats'>
                    <span class='live'></span>
                    <span class='views'></span>
                  </div>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
    </tbody>
  </table>
  <div id='extras'>
  <% if @authenticated %>
    <h3>
      <a href="/surveys/results/all:<%= @conference[:code] %>/admincough">Conference Survey Results</a>
    </h3>
    <h3>Conference Settings</h3>
    <table id='session'>
      <tbody>
        <tr>
          <td><label for="conference_name">Name:</label></td>
          <td><input type="text" id="conference_name" value="<%= @conference[:name] %>" /></td>
        </tr><tr>
          <td><label for="conference_pre_note">Pre-Conf Note:</label></td>
          <td><input type="text" id="conference_pre_note" value="<%= @conference[:pre_note] %>" placeholder="Watch Anytime After Jan 1" /></td>
        </tr><tr>
          <td>Filled:</td>
          <td style='padding: 15px 0;'>
            <label>
              <input type="checkbox" id="conference_filled" <%= 'checked' if @conference[:filled] %> />
              All sessions have been added for this conference
            </label>
          </td>
        </tr><tr>
          <td>Closed:</td>
          <td style='padding: 15px 0;'>
            <label>
              <input type="checkbox" id="conference_closed" <%= 'checked' if @conference[:closed] %> />
              All sessions have been recorded for this conference
            </label>
          </td>
        </tr><tr>
          <td></td>
          <td><button id="update_conference">Update Conference</button></td>
        </tr>
        </tr>
      </tbody>
    </table>
  <% end %>
  <% if @authenticated && !@conference[:filled] %>
    <h3>Add a Session</h3>
    <table id='session'>
      <tbody>
        <tr>
          <td>Name:</td>
          <td><input type="text" id="name" placeholder="Author: Session description"/></td>
        </tr><tr>
          <td>Time:</td>
          <td><input type="text" id="time" placeholder="Jan 1, 12:00pm (or PRE)"/></td>
        </tr><tr>
          <td>Track:</td>
          <td><input type='text' id='track' placeholder='blank for default'/></td>
        </tr><tr>
          <td>YouTube URL:</td>
          <td><input type="text" id="url"/></td>
        </tr><tr>
          <td></td>
          <td><button id="add_session">Add Session</button></td>
        </tr>
        </tr>
      </tbody>
    </table>
  <% end %>
  <% if @authenticated && !@conference[:closed] %>
    <h3 style='margin-top: 50px;'>Build a Moderator Session List</h3>
    <table id='session'>
      <tr>
        <td>Moderator's Name:</td>
        <td><input type="text" id="moderator"/></td>
      </tr>
      <tr>
        <td style='vertical-align: top; padding-top: 10px;'>Sessions</td>
        <td>
          <p>Add a checkbox next to the sessions you'd like this moderator
          to be in charge of, then click to generate the link.</p>

          <table id='conference'>
          <tbody>
              <% day_number = 0 %>
              <% @conference[:days].each_with_index do |day, idx| %>
                <% day_number += 1 unless day[:day_id] == '_pre' %>
                <tr class='day'>
                  <td></td>
                  <td class='day' colspan="<%= @conference[:tracks].length %>">
                    <% if day[:day_id] == '_pre' %>
                      <%= day[:name] %><% if day[:pre_note] %><%= day[:pre_note] %><% end %>
                    <% else %>
                      Day <%= day_number %> - <%= day[:name] %>
                    <% end %>
                  </td>
                </tr>
                <tr class='tracks'>
                  <td>Time</td>
                  <% @conference[:tracks].each do |track| %>
                    <td><%= track %></td>
                  <% end %>
                </tr>
                  <% day[:time_slots].each do |slot| %>
                  <tr>
                    <td style='white-space: nowrap;'><%= slot[:name] %></td>
                    <% slot[:tracks].each_with_index do |track, idx| %>
                      <td class='<%= slot[:special] ? 'column special' : "column column_#{idx}" %>' colspan='<%= slot[:special] ? @conference[:tracks].length : 1 %>'>
                        <label>
                          <input class='track' type='checkbox' name='<%= track[:code] %>'>
                          <%= track[:name] %>
                        </label>
                      </td>
                    <% end %>
                  </tr>
                <% end %>
              <% end %>
          </tbody>
        </table>
        </td>
      </tr><tr>
        <td></td>
        <td><button id='build_moderator'>Generate Link</button></td>
      </tr>
    </table>
  <% end %>
  </div>
</div>

<script>
if(document.getElementById('add_session')) {
  document.getElementById('add_session').addEventListener('click', function(event) {
    event.preventDefault();
    var opts = {
      name: document.getElementById('name').value,
      time: document.getElementById('time').value,
      track: document.getElementById('track').value,
      url: document.getElementById('url').value,
      conference_code: "<%= @conference[:code] %>",
      authenticity_token: "<%= form_authenticity_token %>"
      };

    var xhr = new XMLHttpRequest();
    var status = function(str) {
      document.getElementById('submit').innerHTML = str;
    }
    xhr.onreadystatechange = function() {
      if(this.readyState == 4 && this.status == 200) {
        res = JSON.parse(this.responseText);
        location.reload();
      } else if(this.readyState == 4) {
        alert('Session Failed to Submit');
      }
    };
    var path = "/conferences/sessions";
    xhr.open('POST', path, true);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.send(JSON.stringify(opts));
  });
}
if (document.getElementById('update_conference')) {
  document.getElementById('update_conference').addEventListener('click', function(event) {
    event.preventDefault();
    var opts = {
      code: "<%= @conference[:code] %>",
      name: document.getElementById('conference_name').value,
      pre_note: document.getElementById('conference_pre_note').value,
      closed: document.getElementById('conference_closed').checked,
      filled: document.getElementById('conference_filled').checked,
      authenticity_token: "<%= form_authenticity_token %>"
    };

    var xhr = new XMLHttpRequest();
    var status = function(str) {
      document.getElementById('submit').innerHTML = str;
    }
    xhr.onreadystatechange = function() {
      if(this.readyState == 4 && this.status == 200) {
        res = JSON.parse(this.responseText);
        location.reload();
      } else if(this.readyState == 4) {
        alert('Session Failed to Submit');
      }
    };
    var path = "/conferences";
    xhr.open('POST', path, true);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.send(JSON.stringify(opts));
  });
}
if(document.getElementById('build_moderator')) {
  document.getElementById('build_moderator').addEventListener('click', function(event) {
    event.preventDefault();
    var moderator = document.getElementById('moderator').value;
    var codes = [];
    document.querySelectorAll('input.track').forEach(function(track) {
      if(track.checked) {
        codes.push(track.name);
      }
    });
    var link = "/conferences/<%= @conference[:code] %>/links/" + codes.join(',') + ":" + moderator + "/admincough";
    location.href = link;
  });
}
if(window.parent != window) {
  document.querySelectorAll('.blanky').forEach(function(a) {
    a.setAttribute('target', '_blank');
  });
  document.getElementById('extras').style.display = 'none';
}
<% if @authenticated %>
var columns = document.getElementsByClassName('stats_column');
var codes = [];
for(let col of columns) {
  var code = col.getAttribute('rel');
  if(code && col.getAttribute('id') == 'col_' + code) {
    codes.push(code);
  }
}
var next_code = function() {
  var code = codes.shift();
  if(!code) { return; }
  var doc_id = "<%= ENV['DOC_ID'] %>";
  doc_lookup(doc_id, code, function(res) {
    var col = document.getElementById('col_' + code);
    if(col) {
      var stats = col.getElementsByClassName('stats')[0];
      if(stats) { stats.style.display = 'block'; }
      var views = col.getElementsByClassName('views')[0];
      if(views) { views.innerText = res.views || "--"; }
      var live = col.getElementsByClassName('live')[0];
      if(live) { live.innerText = res.live_attendees || "--"; }
    }
    setTimeout(next_code, res.cached_video_data ? 100 : 1000);
  }, function(err) { 
    setTimeout(next_code, 1000);
  }, true);
};
next_code();
<% end %>
</script>