<style>
input[type='text'] {
  border: 1px solid #888;
  border-radius: 3px;
  height: 50px;
  font-size: 20px;
  width: 350px;
}
table#session {
  border-collapse: collapse;
}
table#session td:first-child {
  text-align: right;
  padding-right: 10px;
}
table#session td:last-child {
  text-align: left;
}
table#session button {
  height: 50px;
  font-size: 30px;
  background: #eee;
  border: 1px solid #888;
  border-radius: 3px;
  margin: 0;
  vertical-align: middle;
  cursor: pointer;
  width: 355px;  
}
form.search input[type='text'] {
  border: 1px solid #aaa;
  vertical-align: top;
  border-radius: 3px;
  height: 30px;
  font-size: 17px;
  width: 150px;
  padding-left: 10px;
}
form.search button {
  border: 1px solid #aaa;
  vertical-align: top;
  border-radius: 3px;
  height: 34px;
  font-size: 17px;
  color: #888;
}
h4 {
  background: #337ab7;
  display: block;
  color: #fff;
  font-family: sans-serif;
  padding: 10px;
  border-radius: 10px;
  font-size: 22px;
}
</style>
<div style='position: absolute; top: 0; right: 0; padding: 5px 20px;'>
  <span style='color: #aaa; margin-right: 30px;'>
    <a class='sort_link' href="/search?sort=rating" style='color: #666; text-decoration: none;'>highest-rated</a> | 
    <a class='sort_link' href="/search?sort=views" style='color: #666; text-decoration: none;'>most-watched</a> | 
    <a class='sort_link' href="/search?sort=most_rated" style='color: #666; text-decoration: none;'>most-rated</a> | 
    <a class='sort_link' href="/search?sort=attendees" style='color: #666; text-decoration: none;'>most-attended</a>
  </span>
  <form action='/search' method='GET' class='search' style='vertical-align: middle; display: inline-block; text-align: center; margin-right: 20px;'>
    <% if params['no_blank'] == '1' %>
      <input type='hidden' name='no_blank' value='1'/>
    <% end %>
    <input type='text' name='q' value='<%= params['q'] %>' placeholder="search"/>
    <button type='submit'>Go</button>
  </form>
</div>
<div style='margin: 50px auto; max-width: 900px;'>
  <h1 style='font-family: Arial;'>AAC in the Cloud - Highlighted Sessions</h1>
  <div class='podcasts'>
    <% @weeks.each do |week| %>
      <h4>Highlights For the Week of <%= Date.parse("#{week.year}W#{week.week.to_s.rjust(2, '0')}").strftime('%b %-d, %Y') %></h4>
      <% week.session_records.each do |session| %>
        <!-- TODO: adaptive width -->
        <div class='podcast'>
          <% thumb = session.thumbnail_url %>
          <a href="<%= session.video_link %>">
            <% parts = (session.resources['session_name'] || '').split(/:/, 2) %>
            <div class='title'>
              <%= parts[1] %>
            </div>
            <div class='author'>
              <%= parts[0] %>
            </div>
            <img src="<%= thumb || '/logo-2017.png' %>" class='preview' />
          </a>
          <a href="/conferences/<%= session.conference_code %>?no_blank=1">
            <img src="/logo-<%= session.year %>.png" class='conf'/>
            <div class='year'>
              <%= session.year %>
            </div>        
          </a>
          <div class='desc'>
            <%= session.resources['description'] %>
          </div>
        </div>
      <% end %>
      <div style='clear: left;'></div>
    <% end %>
  </div>
</div>
<div style="color: #444; text-align: center; font-family: Arial; margin-top: 20px;">
  <a href="/">AAC in the Cloud</a> sponsored by <a href="https://www.forbesaac.com/aac-now" target="_blank" style='color: #63b3dd;'>Forbes AAC</a>, and <a href="https://www.openaac.org/" target="_blank" style='color: #63b3dd;'>OpenAAC</a>
</div>
