<style>
input[type='text'] {
  border: 1px solid #888;
  border-radius: 3px;
  height: 50px;
  font-size: 20px;
  width: 350px;
}
table#session {
  border-collapse: collapse;
}
table#session td:first-child {
  text-align: right;
  padding-right: 10px;
}
table#session td:last-child {
  text-align: left;
}
table#session button {
  height: 50px;
  font-size: 30px;
  background: #eee;
  border: 1px solid #888;
  border-radius: 3px;
  margin: 0;
  vertical-align: middle;
  cursor: pointer;
  width: 355px;  
}
form.search input[type='text'] {
  border: 1px solid #aaa;
  vertical-align: top;
  border-radius: 3px;
  height: 30px;
  font-size: 17px;
  width: 150px;
  padding-left: 10px;
}
form.search button {
  border: 1px solid #aaa;
  vertical-align: top;
  border-radius: 3px;
  height: 34px;
  font-size: 17px;
  color: #888;
}
</style>
<div style='position: absolute; top: 0; right: 0; padding: 5px 20px;'>
  <form action='/search' method='GET' class='search' style='vertical-align: middle; display: inline-block; text-align: center; margin-right: 20px;'>
    <% if params['no_blank'] == '1' %>
      <input type='hidden' name='no_blank' value='1'/>
    <% end %>
    <input type='text' name='q' value='<%= params['q'] %>' placeholder="search"/>
    <button type='submit'>Go</button>
  </form>

  <% if @authenticated %>
    <%= @user %> | <a href="#" id='admin'>Admin</a> | 
    <a href="/logout">Logout</a>
  <% else %>
    <a href="/login">Login</a>
  <% end %>
</div>
<div style='margin: 50px auto; max-width: 900px;'>
  <img src="/logo-2017.png" style='float: left; width: 200px; margin: 0 15px 10px 0; border-radius: 10px;'/>
  <a href="https://www.openaac.org/knaac-awards/2024/" target='_blank'>
    <img src="https://www.openaac.org/images/2024/knaac/knaac-podcast-2024-cloud.png" style='float: right; width: 150px; margin: 50px 15px 0 10px; border-radius: 10px;'/>
  </a>
  
  <h1 style='font-family: Arial;'>AAC in the Cloud</h1>
  <p>Welcome! AAC in the Cloud is an annual, free, fully-online
  conference focused on all things AAC! Here you can review 
  sessions from past conferences, search for a specific session,
  or subscribe to our session feeds. All past sessions are kept
  online for as long as we can help it, and fill out the participation
  survey after watching current or past sessions to get
  CEU credits! You can also 
  <a href="https://www.aacconference.com/">go here to see
  details on the most recent conference</a>.</p>
  <div style='clear: left; margin-bottom: 15px;'></div>
  <% if @session_records.length > 0 %>
    <div class='podcasts'>
      <h2>Highlighted Sessions</h2>
      <% @session_records.each do |session| %>
        <!-- TODO: adaptive width -->
        <div class='podcast'>
          <% thumb = session.thumbnail_url %>
          <a href="<%= session.video_link %>">
            <% parts = (session.resources['session_name'] || '').split(/:/, 2) %>
            <div class='title'>
              <%= parts[1] %>
            </div>
            <div class='author'>
              <%= parts[0] %>
            </div>
            <img src="<%= thumb || '/logo-2017.png' %>" class='preview' />
          </a>
          <a href="/conferences/<%= session.conference_code %>?no_blank=1">
            <img src="/logo-<%= session.year %>.png" class='conf'/>
            <div class='year'>
              <%= session.year %>
            </div>        
          </a>
          <div class='desc'>
            <%= session.resources['description'] %>
          </div>
        </div>
      <% end %>
      <div style='clear: left;'></div>
    </div>
    <div style='margin-bottom: 30px;margin-top: 15px; background: #337ab7; padding: 10px 20px; border-radius: 10px;'>
      <a href="/feeds/all" style='color: #fff; text-decoration: none; font-family: sans-serif; font-size: 18px;'>
        see more recently-highlighted sessions
      </a>
    </div>
  <% end %>
  <h2>Annual Conferences</h2>
  <% if @authenticated %>
    <div id='admin_content' style='display: none;'>
      <h3>Add a Conference</h3>
      <a href="https://docs.google.com/document/d/1KtkpKmaEhdT4MwxDvXi5093O2eD20t9dupBxq1VpXe0/edit?usp=sharing" target='_blank'>Conference Creation Instructions</a>
      <table id='session' style='margin-top: 10px; margin-bottom: 30px;'>
        <tbody>
          <tr>
            <td>Name:</td>
            <td><input type="text" id="name"/></td>
          </tr><tr>
            <td></td>
            <td><button id="add_conference">Add Conference</button></td>
          </tr>
          </tr>
        </tbody>
      </table>
    </div>
  <% end %>
  <div class='conferences'>
    <% @conferences.each do |conf| %>
      <% json = JSON.parse(conf.data) rescue {} %>
      <div class='conference'>
        <a href="/conferences/<%= conf.code %>?no_blank=1">
          <img src="/logo-<%= conf.year %>.png" onerror="this.src='/logo.png';"/>
          <% if json['theme'] %>
            <%= json['theme'] %>
            <div style='font-size: 20px;'><%= conf.name %></div>
          <% else %>
            <%= conf.name %>
          <% end %>
        </a>
        <% if @authenticated %>
          <div class='link'>
            <a href="/surveys/results/all:<%= conf.code %>/admincough">Survey Results</a>
          </div>
        <% end %>
        <div style='clear: left;'></div>
        </div>
    <% end %>
  </div>
</div>
<div style="color: #444; text-align: center; font-family: Arial; margin-top: 20px;">
  sponsored by <a href="https://www.forbesaac.com/aac-now" target="_blank" style='color: #63b3dd;'>Forbes AAC</a>, and <a href="https://www.openaac.org/" target="_blank" style='color: #63b3dd;'>OpenAAC</a>
</div>

<script>
if(document.getElementById('add_conference')) {
  document.getElementById('add_conference').addEventListener('click', function(event) {
    event.preventDefault();
    var opts = {
      name: document.getElementById('name').value,
      authenticity_token: "<%= form_authenticity_token %>"
      };
    if(!opts.name) { return; }
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
      if(this.readyState == 4 && this.status == 200) {
        res = JSON.parse(this.responseText);
        location.reload();
      } else if(this.readyState == 4) {
        alert('Conference Failed to Submit');
      }
    };
    var path = "/conferences";
    xhr.open('POST', path, true);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.send(JSON.stringify(opts));
  });
}
if(document.getElementById('admin')) {
  document.getElementById('admin').addEventListener('click', function(event) {
    event.preventDefault();
    document.getElementById('admin_content').style.display = 'block';
  });
}
</script>