<style>
body * {
  box-sizing: border-box;
}
body {
  background: #000;
}
#header {
  margin: 20px auto;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  min-height: 200px;
  max-width: 800px;
  background: #fff;
}
#label {
  font-size: 20px;
  font-family: Arial;
}
#header img.logo {
  width: 120px;
  border-radius: 5px;
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
}
#header img#spinner {
  position: absolute;
  top: 5px;
  left: -60px;
  display: none;
}
#link_holder {
  padding-top: 30px;
  clear: left;
  text-align: center;
  display: none;
}
#link_button {
  font-size: 20px;
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0 50px 0 0;
}
#link {
  color: #444;
  text-decoration: none;
}
#link_button.ready {
  color: #444;
  font-size: 20px;
  text-decoration: none;
  background: #fafafa;
  border: 1px solid #666;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0 50px 0 0;
}
#link_button.ready:hover {
  color: #444;
  border-color: #444;
  background: #eee;
}
#link_button.ready #link {
  cursor: pointer;
}
#video {
  width: 100%;
  border: 2px solid #888;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
}
#survey_link, #chat {
  margin-top: 20px;
}
#video_app {
  border: 1px solid #888;
  background: #eee;
  border-radius: 5px;
  padding: 10px 20px;
  color: #444;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 5px;
}
</style>
<div id='header'>
  <img class='logo' src="/logo-<%= @year %>.png" onerror="this.src='/logo.png';" />
  <img id='spinner' src="https://s3.amazonaws.com/coughdrop/icons/ripple.svg" />
  AAC in the Cloud Presentation Session
  <div style='margin-bottom: 10px;'>
    <% if params['from_search'] %>
      <a href='#' onclick='window.history.back();'>Back to the Search Results</a>
    <% else %>
      <a href='/conferences/<%= @conf_id %>?no_blank=1'>Back to the Session List</a>
    <% end %>
  </div>
  <div id='label'>Loading Session Information...</div>
  <div id='time'></div>
  <div style='clear: left;'></div>
  <div id='status' style='font-size: 20px; margin-top: 30px; text-align: center; margin-bottom: 20px;'></div>
  <div id='description_holder' style='display: none; margin-bottom: 20px;'></div>
  <div id='slides_holder' style='margin-bottom: 20px;'>
    <a href="#" id="slides" style='display: none;' target="_blank">Slides or Resources for this Session</a>
    <span id='no_slides' style='color: #888;'>No Slides Have Been Provided for this Session</span>
  </div>
  <div style='margin-bottom: 30px;'>
    <b>Looking for CEUs?</b> If you watch this video on this site then
    towards the end you will see a survey link show up. Fill out the
    short survey to track your participation credit, and we'll generate
    a certificate for you when you're done watching sessions!
  </div>
  <div id='video_holder' style='display: none;'>
    <div id='video'></div>
    <a id='video_app' href="#" target='_blank'>Open in the YouTube App or a New Browser Tab</a>
    <br/><span>NOTE: Participation surveys will only be available after you watch the full video <b>on this site, not YouTube</b>.</span>
  </div>
  <% if ENV['SLACK_ENABLED'] %>
    <div id='chat' style='display: none;'>
      <img src="/slack.png" style='width: 90px; vertical-align: middle; float: left; padding-right: 10px;'/>
      <a href="/chat" target="_blank" style='font-size: 22px; text-decoration: none;'>
        Join the Chat Room for this session
      </a><br/>to ask questions and get access to additional resources.<br/>
      this session will be in the <b id='track'>Track 1</b> chat channel.<br/>
      Hit "channels" in Slack to see a list of all available channels.
      <div style='clear: left;'></div>
    </div>
  <% else %>
    <div id='chat' style='display: none;'></div>
  <% end %>
  <div id='survey_link' style='display: none;'>
    <img src="/survey.jpg" style='width: 90px; vertical-align: middle; float: left; padding-right: 10px;'/>
    <a id='survey_anchor' href="/surveys/<%= @session_id %>" style='font-size: 22px; text-decoration: none;'>Fill Out the Attendance Survey</a><br/>
    Once you're done, please fill out the form to track your attendance for completion hours.<br/>
    After you are done watching sessions you can <a href="/surveys/certificate" target="_blank">generate a certificate of attendance</a><br/>
    to use for submitting to certifying groups, or to hang on your wall!
    <div style='clear: left;'></div>
  </div>
  <div id='manage_holder' style='display: none; margin-top: 20px;'>
    <a href='#' id='manage_link'>Management Link</a>
  </div>
</div>

<div style="color: #eee; text-align: center; font-family: Arial; margin-bottom: 20px;">
  sponsored by <a href="https://www.forbesaac.com/aac-now" target="_blank" style='color: #63b3dd;'>Forbes AAC</a>, and <a href="https://www.openaac.org/" target="_blank" style='color: #63b3dd;'>OpenAAC</a>
</div>

<script src='https://www.youtube.com/iframe_api'></script>
<script>
var id = "<%= ENV['DOC_ID'] %>";
var cell = atob(atob("<%= params['id'] %>"));
var dom = {};
['label', 'link', 'link_button', 'link_holder', 'time', 'spinner', 'status', 'video_holder', 'survey_link', 'survey_anchor', 'chat', 'video_app', 'track', 'description_holder'].forEach(function(key) {
  dom[key] = document.getElementById(key);
});
var err = function(str) {
  dom.label.classList.add('error');
  dom.label.innerHTML = str;
};
var player = {playing_seconds: 0};
var check = function() {
  check.checked = true;
  dom.spinner.style.display = 'inline';
  setInterval(function() {
    if(player && player.live) {
      dom.spinner.style.display = 'inline';
      doc_lookup(id, cell, function(res) {
        setTimeout(function() {
          dom.spinner.style.display = 'none';
        }, 800);
        // setting live_attendees is what triggers the survey link for live sessions
        if(res.live_attendees != null) {
          player.live_attendees = res.live_attendees;
        }
        if(res.survey_link) {
          player.survey = true;
        }
        // as a fallback, if the video link changes, just reload the page
        var player_url = player.original_youtube_url || player.youtube_url;
        if(player_url && res.youtube_link && player_url != res.youtube_link) {
          location.reload();
        }
        // auto-update if the slides get added later
        if(res.slides_link) {
          document.getElementById('slides').style.display = 'inline';
          document.getElementById('no_slides').style.display = 'none';
          document.getElementById('slides').setAttribute('href', res.slides_link);
        }
      });
    }
  }, 30000);
  doc_lookup(id, cell, function(res) {
    player.playing_started = null;
    player.playing_ended = null;
    player.played_seconds = null;
    player.duration = null;

    setTimeout(function() {
      dom.spinner.style.display = 'none';
    }, 800);
    var opts = {};
    opts.time = res.date;
    opts.session = res.session_name;
    opts.link = res.hangouts_link;
    opts.track = res.track;
    player.hours = res.hours;
    opts.video = res.youtube_link;
    opts.slides = res.slides_link;
    opts.description = res.description;
    if(res.manage_link && document.getElementById('manage_link')) {
      document.getElementById('manage_link').setAttribute('href', res.manage_link);
      document.getElementById('manage_holder').style.display = 'block';
    }
    if(!res.code) {
      if(res.values && res.values[0] && res.values[0].length) {
        opts.time = opts.time || res.values[0][0];
        opts.session = opts.session || res.values[0][res.values[0].length - 1];
      }
      if(res.values && res.values[1] && res.values[1].length) {
        opts.link = opts.link || res.values[1][res.values[0].length - 1];
      }
      if(res.values && res.values[3] && res.values[3].length) {
        opts.video = opts.video || res.values[3][res.values[0].length - 1];
      }
    }
    if(opts.link) { dom.loaded = true; }
    if(opts.slides) {
      document.getElementById('slides').style.display = 'inline';
      document.getElementById('no_slides').style.display = 'none';
      document.getElementById('slides').setAttribute('href', opts.slides);
    } else {
      document.getElementById('slides').style.display = 'none';
      document.getElementById('no_slides').style.display = 'inline';
    }
    player.original_youtube_url = opts.video;
    opts.video_id = video_id_from_url(opts.video);
    if(opts.video) {
      opts.video = opts.video.replace(/\?feature=share/, '');
      opts.video = opts.video.replace(/\/live\//, '/watch?v=');
    }
    player.youtube_url = opts.video;

    if(res.values && res.values[2] && res.values[2].length) {
      if(res.values[2][res.values[0].length - 1]) {
        player.survey = true;
      }
    } else if(res.survey_link) {
      player.survey = true;
    }
    if(opts.description) {
      dom.description_holder.innerText = opts.description;
      dom.description_holder.style.display = 'block';
    }
    console.log(opts);
    dom.label.classList.remove('error');
    dom.label.innerText = opts.session;
    dom.time.innerText = opts.time;
    if(res.hours !== 0) {
      dom.time.innerText = opts.time + ", " + (res.hours || 1.0) + " participation credit" + ((res.hours && res.hours != 1.0) ? "s" : "");
    }

    if(opts.video_id) {
      if(player.ready) {
        dom.video_holder.style.display = 'inline';
        var bounds = dom.video_holder.getBoundingClientRect();
        var width = bounds.width - 14;
        var height = width / 16 * 9;
        if(!player.obj) {
          player.obj = new YT.Player('video', {
            height: height,
            width: width,
            videoId: opts.video_id,
            events: {
              'onStateChange': function(event) {
                if(event.target) { player.obj = event.target; }
                if(event.data == 1) {
                  player.playing = true;
                  player.playing_started = (new Date()).getTime();
                  player.playing_ended = null;
                  if(event.target && event.target.getDuration) {
                    player.duration = event.target.getDuration();
                  }
                } else if(event.data == 2 || event.data == 3) {
                  player.playing_ended = (new Date()).getTime();
                  if(player.playing_started && player.playing_ended) {
                    player.played_seconds = (player.played_seconds || 0) + ((player.playing_ended - player.playing_started) / 1000);
                    player.playing_started = null;
                  }
                  player.playing = false;
                }
              }
            }
          });     
          }
        dom.video_app.setAttribute('href', opts.video);

        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
          if(this.readyState == 4 && this.status == 200) {
            res = JSON.parse(this.responseText);
            if(res && res.snippet && (res.snippet.liveBroadcastContent == 'upcoming' || res.snippet.liveBroadcastContent == 'live')) {
              player.live = true;
              var track = opts.track;
              if(cell.match(/A17$/)) {
                if(cell.match(/^C/)) { track = track || 2; }
                if(cell.match(/^D/)) { track = track || 3; }
              } else {
                if(cell.match(/^B/)) { track = track || 2; }
                if(cell.match(/^C/)) { track = track || 3; }
              }
              track = (track || 1).toString();
              if(track.length <= 2) { track = "Track " + track; }
              dom.track.innerText = track;
              dom.chat.style.display = 'block';
            }
            console.log("video data", res);
          } else if(this.readyState == 4) {
          }
        };
        var path = "/data/videos/" + opts.video_id;
        xhr.open('GET', path, true);
        xhr.send();

      } else {
        dom.status.innerText = "Video player not initialized";
      }
    } else {
      dom.status.innerText = "Couldn't find a video URL for the session";
    }
  }, function() {
    setTimeout(function() {
      dom.spinner.style.display = 'none';
    }, 800);
    err('Data not available,<br/>please try reloading');
    setTimeout(check, 30000);
  });
  setInterval(function() {
    if(player.playing && !player.live) {
      var now = (new Date()).getTime();
      player.playing_started = (player.playing_started || (new Date()).getTime());
      player.playing_seconds = (player.played_seconds || 0) + ((now - player.playing_started) / 1000);
      
      console.log("playing for", player.playing_seconds);
    }
    if(localStorage.getItem('playthrough_for_' + cell) == 'true') {
      dom.survey_link.style.display = 'block';
      dom.chat.style.display = 'none';
    } else if(player.obj && !player.live && player.survey) {
      // after the player has been playing for at least 33% of the 
      // credit hour duration, and the play scrubber is in the last
      // 20% of the video, then show the survey link.

      // after 33% of playtime, go ahead and allow the survey link
      var seconds_cutoff = (player.hours || 1.0) * 60 * 60 * 0.33;
      if(player.playing_seconds > seconds_cutoff) {
        var duration = player.duration || (player.obj && player.obj.getDuration && player.obj.getDuration()) || 0;
        var current = (player.obj && player.obj.getCurrentTime && player.obj.getCurrentTime()) || (player.playing_seconds + (duration * 0.25));
        // if play point is in the last 20% of the video, show the survey link
        if(duration && current && current > (duration * 0.8)) {
          dom.survey_link.style.display = 'block';
          dom.chat.style.display = 'none';
          localStorage.setItem('playthrough_for_' + cell, 'true');
        }
      }
    } else if(player.obj && player.live && player.survey && player.live_attendees) {
      dom.survey_link.style.display = 'block';
      dom.survey_anchor.setAttribute('target', '_blank');
      localStorage.setItem('playthrough_for_' + cell, 'true');
      if(!dom.survey_anchor.innerHTML.match(/new tab/)) {
        dom.survey_anchor.innerHTML = dom.survey_anchor.innerHTML + " (opens in a new tab)";
      }
      dom.chat.style.display = 'none';
    }
  }, 300);
};
function onYouTubeIframeAPIReady() {
  console.debug("youtube ready");
  player.obj = null;
  player.ready = true;
  check();
};
if(window.YT && window.YT.loaded) {
  onYouTubeIframeAPIReady();
}
setTimeout(function() {
  if(!check.checked) { check(); }
}, 5000);
</script>