<style>
body * {
  box-sizing: border-box;
}
#survey_holder {
  font-family: Arial;
  width: 500px;
  border: 1px solid #ccc;
  text-align: center;
  margin: 50px calc(50vw - 250px);
  text-align: left;
  padding: 10px; 20px;
}
#survey_holder img {
  width: 120px;
  border-radius: 5px;
  float: left;
  margin: 0 10px 20px 0;
}
#survey_holder button {
  height: 50px;
  font-size: 30px;
  background: #eee;
  border: 1px solid #888;
  border-radius: 3px;
  margin: 0;
  vertical-align: middle;
  cursor: pointer;
  width: 400px;
}
#survey_holder button:focus {
  background: #ccc;
}

#session_name {
  display: block;
  font-size: 18px;
}
#session_time {
  display: block;
  font-size: 12px;
}
.result {
  font-size: 18px;
  margin-bottom: 20px;
}
a {
  color: #337ab7;
}
#total {
  display: block;
  margin-top: 5px;
  color: #888;
}
#average, #live, #views_holder, #likes_holder {
  color: #888;
}
.result {
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
}
.result .date {
  display: block;
  color: #888;
  font-size: 12px;
}
.result .rating {
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
}
#stats {
  border-collapse: collapse;
  border: 1px solid #eee;
  color: #888;
  margin: 10px 30px;
}
#stats th {
  font-size: 10px;
  padding: 5px;
}
#stats td {
  font-size: 14px;
  padding: 1px 5px;
}
#stats th, #stats td {
  border: 1px solid #eee;
}

</style>
<div id='survey_holder'>
  <img src='/logo-<%= @year %>.png' onerror="this.src='/logo.png';" />
  <%= @id %> <%= @digest %>
  <h1>AAC in the Cloud<br/>Survey Results</h1>
  <div style='clear: left;'></div>
  
  <% if @error %>
    <p>Bad Link</p>
  <% else %>
    <% if @doc_id && @doc_id.match(/^all/) %>
      <span id='session_name'>Conference feedback from all sessions</span>
    <% elsif @conference %>
      <span id='session_name'><%= @conference.name %></span>
    <% else %>
      <span id='session_name'><%= @data['session_name'] %></span>
      <span id='session_time'><%= @data['date'] %></span>
    <% end %>
    <span id='total'>Total Reviews: <%= @results.length %></span>
    <% if @data && @data['live_attendees'] %>
      <div id='live'>Live Attendees: <%= @data['live_attendees'] %></div>
    <% end %>
    <div id='views_holder' style='display: none;'>
      Total Views: <span id='views'></span>
    </div>
    <div id='likes_holder' style='display: none;'>
      Video Likes: <span id='likes'></span>
    </div>
    <span id='average'>Average Score: <%= (@results.map{|r| r.json['answer_1'].to_i }.sum.to_f / @results.length.to_f).round(2) %> (out of 5.0)</span>
    <% if @doc_id && @doc_id.match(/^all/) %>
      <table id='stats'>
        <thead>
          <tr>
            <th># of attendees</th>
            <th>rated this many sessions</th>
          </tr>
        </thead>
        <tbody>
          <% @counts.each do |count| %>
            <tr>
              <td><%= count[1] %></td>
              <td><%= count[0] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
    <% @shown_results.each do |result| %>
      <div class='result'>
        <span class='date'><%= result.created_at.strftime('%b %-d, %Y %l:%M%P') %></span>
        <% if @doc_id && @doc_id.match(/^all/) %>
          <%= (result.json || {})['session_name'] || result.code %>
        <% end %>
        <span class='rating'>Rating: <%= result.json['answer_1'] %></span>
        <% if @doc_id && @doc_id.match(/^all/) %>
          <%= result.json['answer_3'] %>
        <% else %>
          <%= result.json['answer_2'] %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
<script>
  var doc_id = "<%= ENV['DOC_ID'] %>";
  var cell = "<%= @doc_id %>";

  var video = "<%= @data['youtube_link'] %>";
  var match = video && video.match(/(?:https?:\/\/)?(?:www\.)?youtu(?:be\.com\/watch\?(?:.*?&(?:amp;)?)?v=|\.be\/)([\w \-]+)(?:&(?:amp;)?[\w\?=]*)?/);
  var video_id = null;
  if(match && match[1]) {
    video_id = match[1];
  }
  if(video_id) {
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
      if(this.readyState == 4 && this.status == 200) {
        res = JSON.parse(this.responseText);
        if(res && res.statistics && res.statistics.viewCount) {
          document.getElementById('views').innerText = res.statistics.viewCount;
          document.getElementById('views_holder').style.display = 'block';
          document.getElementById('likes').innerText = res.statistics.likeCount;
          document.getElementById('likes_holder').style.display = 'block';
        }
        console.log("video data", res);
      } else if(this.readyState == 4) {
      }
    };
    var path = "/data/videos/" + video_id;
    xhr.open('GET', path, true);
    xhr.send();
  }
</script>

