<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <% if @noindex %>
      <meta name="robots" content="noindex, nofollow" />
    <% end %>
    <% if @meta_record %>

    <!-- expects @meta_record.(title, summary, large_image, image, link, created, updated) -->
      <title><%= @meta_record.title %></title>
      <meta name="description" content="<%= @meta_record.summary %>" />

      <!-- Schema.org markup for Google+ -->
      <meta itemprop="name" content="<%= @meta_record.title %>">
      <meta itemprop="description" content="<%= @meta_record.summary %>">
      <meta itemprop="image" content="<%= @meta_record.large_image || @meta_record.image %>">

      <!-- Twitter Card data -->
      <% if @meta_record.large_image %>
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:image" content="<%= @meta_record.large_image %>">
      <% else %>
        <meta name="twitter:card" content="summary">
        <meta name="twitter:image" content="<%= @meta_record.image %>">
      <% end %>
      <meta name="twitter:title" content="<%= @meta_record.title %>">
      <meta name="twitter:description" content="<%= @meta_record.summary %>">
      <meta name="twitter:creator" content="">

      <!-- Open Graph data -->
      <meta property="og:title" content="<%= @meta_record.title %>" />
      <meta property="og:type" content="article" />
      <meta property="og:locale" content="en_US" />
      <meta property="og:logo" content="https://presenters.aacconference.com/logo-2017.png" />
      <meta property="og:url" content="<%= @meta_record.link %>" />
      <% if @meta_record.video_url %>
        <meta property="og:video" content="<%= @meta_record.video_url %>" />
      <% end %>
      <meta property="og:image" content="<%= @meta_record.large_image || @meta_record.image %>" />
      <meta property="og:description" content="<%= @meta_record.summary %>" />
      <meta property="og:site_name" content="AAC in the Cloud" />
      <meta property="article:published_time" content="<%= @meta_record.created %>" />
      <meta property="article:modified_time" content="<%= @meta_record.updated %>" />
      <!-- TODO 
      <meta property="article:section" content="Article Section" />
      <meta property="article:tag" content="Article Tag" />
      <meta property="fb:admins" content="Facebook numberic ID" />
      -->
    <% else %>
    <title>AAC in the Cloud</title>
    <% end %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="/qrcode.min.js"></script>
    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=67aa5a8c3093bd0013c183d0&product=inline-share-buttons&source=platform" async="async"></script>
    <script>
      function video_id_from_url(youtube_url) {
        if(youtube_url) {
          youtube_url = youtube_url.replace(/\?feature=share/, '');
          youtube_url = youtube_url.replace(/\/live\//, '/watch?v=');
        }

        var video_id = null;
        var match = youtube_url && youtube_url.match(/(?:https?:\/\/)?(?:www\.)?youtu(?:be\.com\/watch\?(?:.*?&(?:amp;)?)?v=|\.be\/)([\w \-]+)(?:&(?:amp;)?[\w\?=]*)?/);
        if(match && match[1]) {
          var video_id = match[1];
        }
        return video_id;
      };
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
