<!DOCTYPE html>
<html>
  <head>
    <% if @meta_record %>
      <!-- expects @meta_record.(title, summary, large_image, image, link, created, updated) -->
      <title><%= @meta_record.title %></title>
      <meta name="description" content="<%= @meta_record.summary %>" />

      <!-- Schema.org markup for Google+ -->
      <meta itemprop="name" content="<%= @meta_record.title %>">
      <meta itemprop="description" content="<%= @meta_record.summary %>">
      <meta itemprop="image" content="<%= @meta_record.large_image || @meta_record.image %>">

      <!-- Twitter Card data -->
      <% if @meta_record.large_image %>
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:image" content="<%= @meta_record.large_image %>">
      <% else %>
        <meta name="twitter:card" content="summary">
        <meta name="twitter:image" content="<%= @meta_record.image %>">
      <% end %>
      <meta name="twitter:title" content="<%= @meta_record.title %>">
      <meta name="twitter:description" content="<%= @meta_record.summary %>">
      <meta name="twitter:creator" content="">

      <!-- Open Graph data -->
      <meta property="og:title" content="<%= @meta_record.title %>" />
      <meta property="og:type" content="article" />
      <meta property="og:url" content="<%= @meta_record.link %>" />
      <meta property="og:image" content="<%= @meta_record.large_image || @meta_record.image %>" />
      <meta property="og:description" content="<%= @meta_record.summary %>" />
      <meta property="og:site_name" content="AAC in the Cloud" />
      <meta property="article:published_time" content="<%= @meta_record.created %>" />
      <meta property="article:modified_time" content="<%= @meta_record.updated %>" />
      <!-- TODO 
      <meta property="article:section" content="Article Section" />
      <meta property="article:tag" content="Article Tag" />
      <meta property="fb:admins" content="Facebook numberic ID" />
      -->
    <% else %>
    <title>Conference Tools</title>
    <% end %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
